<div
  class="max-w-[80%] md:max-w-sm w-96 h-full bg-white border border-gray-200 rounded-lg shadow flex flex-col justify-between"
>
  <a [routerLink]="['project', project.id]" class="overflow-hidden">
    <img
      class="rounded-t-lg w-full h-60 object-cover object-center hover:opacity-75"
      [src]="project.images[0].url"
      alt=""
    />
  </a>
  <div class="p-5">
    <a [routerLink]="['project', project.id]">
      <h5 class="tui-text_h5 mb-2">
        {{ project.title }}
      </h5>
    </a>
    <div class="my-2 flex pr-20 text-gray-500 justify-between flex-wrap">
      <p class="">
        <tui-svg src="tuiIconMapPin" /><span>{{ project.location }}</span>
      </p>
      <div class="flex">
        <tui-svg src="tuiIconCalendar" />
        <div>
          <p class="">{{ project.startDate | date }}</p>
          <p>{{ project.finishDate | date }}</p>
        </div>
      </div>
    </div>
    <p class="mb-3 tui-text_body-m line-clamp-2 text-gray-700">
      {{
        project.description ||
          "Click on this project to view more details, such as requirements."
      }}
    </p>
    <a
      [routerLink]="['project', project.id]"
      iconRight="tuiIconArrowRight"
      size="m"
      shape="rounded"
      tuiButton
      class="mt-3"
      appearance="secondary"
    >
      Visit project
    </a>
  </div>
</div>
