<div
  class="w-full items-center py-5 mx-auto flex justify-between tui-text_body-xl"
>
  <div class="logo h-full w-48"><app-logo /></div>
  <app-nav-links class="hidden md:inline" />
  <div class="hidden md:inline">
    <button routerLink="/login" appearance="secondary" type="button" tuiButton>
      Sign In
    </button>
  </div>
  <div class="md:hidden inline">
    <app-side-bar>
      <div class="flex flex-col h-full items-center justify-between">
        <app-nav-links />
        <button
          routerLink="/login"
          appearance="secondary"
          type="button"
          tuiButton
          class="mt-10"
        >
          Sign In
        </button>
      </div>
    </app-side-bar>
  </div>
</div>
