<app-ui-feedback
  [loading]="loading()"
  [empty]="!project"
  [error]="error()"
  emptyMessage="We couldn't load your project"
  errorMessage="Something went wrong while loading your project"
>
  @if (!!project()) {
  <tui-tabs
    [activeItemIndex]="tabsIndex()"
    (activeItemIndexChange)="setTabsIndex($event)"
    class="mb-5"
  >
    <button tuiTab>
      <tui-svg src="tuiIconInfo" class="tui-space_right-2"></tui-svg>
      Description
    </button>
    <button tuiTab>
      <tui-svg src="tuiIconList" class="tui-space_right-2"></tui-svg>
      Apply
    </button>
  </tui-tabs>
  @switch (tabsIndex()) { @case (0) {
  <app-project-detail
    [project]="$any(project())"
    cta="Apply"
    (onCta)="setTabsIndex(1)"
  />
  }@case(1){
  <div>
    <app-ui-feedback [error]="error()">
      @if (!!application()) {
      <app-application-detail [application]="$any(application())" />

      }@else {
      <app-application-form
        [project]="$any(project())"
        (onSuccess)="handleApplicationSubmit()"
      />
      }
    </app-ui-feedback>
  </div>

  } } }
</app-ui-feedback>
